.moderator-dashboard {
  max-width: 1440px;
  margin: auto;
}
header {
  padding: 20px;
  display: flex;
  align-items: center;
}
header > img {
  max-width: 63px;
}
.vertical-bar {
  height: 30px;
  margin: 0 20px;
  width: 1px;
  background: #000;
}
.heading-title {
  font-size: 18px;
  color: #000;
}
.content {
  max-width: 1440px;
  margin: auto;
}
.left-box {
  width: 10%;
  display: inline-block;
}
.right-box {
  width: 90%;
  display: inline-block;
}
.tab {
  padding: 10px 20px;
  border: 1px solid #eeee;
  cursor: pointer;
}